media/*.gif export-ignore
media/*.jpg export-ignore
media/thumbs/*.gif export-ignore
media/thumbs/*.jpg export-ignore
google17cdfd62ccaf7043.html export-ignore
.gitignore export-ignore
.github/*.* export-ignore
media/ export-ignore
docs/ export-ignore
.github/ export-ignore
.gitattributes export-ignore
manifest.yaml export-ignore
extension.yaml
SkipUacTask_v1.0.2.pext export-ignore
SkipUacTask_v1.0.2.5.pext export-ignore
SkipUacTask_v1.0.2.psm1 export-ignore
SkipUacTask_v1.0.2.5.psm1 export-ignore
*.pext export-ignore
