media/*.gif export-ignore
media/*.jpg export-ignore
media/thumbs/*.gif export-ignore
media/thumbs/*.jpg export-ignore
google17cdfd62ccaf7043.html export-ignore
.gitignore export-ignore
.github/*.* export-ignore
media/ export-ignore
docs/ export-ignore
.github/ export-ignore
.gitattributes export-ignore
